/* Global Setting: background to very light gray, font, and text */
*{
  background-color: rgb(241, 241, 241);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--greenish);
}

/* Defining two custom colors as variables */
:root {
    --greenish: #54737F;
    --turquish: rgb(156, 230, 243);
  }

/* Setting max width of website and centered */
body{
    max-width: 1200px;
    margin:auto;
}

/* Will have absolute position items in header */
header{
    position: relative;
    background-color: var(--greenish);
    color: white;
    width: 100%;
    height: 80px;
}

/*  */
/* header aside{ */
header h1{
    position: absolute;
    margin: 20px 0px;
    padding: 10px 2px 10px 0px;
    background-color: white;
    color: var(--greenish);
    width: 15%;
    height: 20px;
    max-width: 300px;
    min-width: 150px;
    text-align: right;
    font-size: 30px;
    font-weight: 700;
}

/* nav items aligned on right */
header nav ul{
    text-align: right;
    margin: auto;
    background-color: var(--greenish);
}

/* nav items horizontally arranged and spaced */
header nav ul li{
    background-color: var(--greenish);
    color: white;
    display: inline-block;
    padding: 25px 10px;
    /* line-height: 50px; */
    /* height: 50px; */
}

/* removing link underline and adding custom "underline" of nav items */
.borderunderline{
    background-color: var(--greenish);
    color: white;
    text-decoration: none;
    border-bottom: solid var(--turquish);
    padding: 0px 2px 4px 2px;
}

.borderunderline:hover{
    color: var(--turquish);
}

/* landscape image under nav will have other objects with absolute positions */
#BGimage{
    position: relative;
    /* top: 0;
    left: 0; */
    margin: 0;
    padding: 0;
}

/* image to keep same height but stretch up to the max width of site */
#headerbackground{
    /* position: relative; */
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 200px;
    /* vertical-align: top; */
}

/* headshot photo with border */
#header-image-over{
    position:absolute;
    top: 15px;
    left: 50px;
    width: 160px;
    height: 160px;
    border: 5px solid white;
}

/* subtitle lower right of landscape image with border */
#subtitle-over{
    /* display: block; */
    position: absolute;
    bottom: 30px;
    right: 50px;
    width: 290px;
    height: 45px;
    background-color: var(--greenish);
    color: white;
    text-align: center;
    font-size: 35px;
    padding: 7px;
    border: solid var(--turquish);
    }

/* main content flex column for individual sections */
main{
    display:flex;
    flex-direction: column;
    gap: 30px; /*gap row column*/
    padding: 25px 0px;
}

/* individual sections flex row -normal viewing */
#AboutMe,
#Work,
#ContactMe{
    display: flex;
    flex-direction: row;
    gap: 30px 20px;
}

/* section descriptions aligned to right and vertical separator line added */
.AsideTitle{
    border-right: 3px solid var(--greenish);
    padding: 0px 10px 0px 0px;
    text-align: right;
    font-size: 35px;
    /* margin: 10px 5px 10px 8%; */
    width:15%;
}

/* About me content/paragraphs */
#AboutMeText{
    text-align: left;
    font-size: 16px;
    margin: 0px 5px 5px 10px;
    width:80%;
}

/* spacing About Me paragraphs */
main section article p{
    margin: 5px 0px 12px 0px;
}

/* work example image links in a flex box */
#WorkFigures{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 20px;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    width: 80%;
}

/* border setup for work items - initially opacity setting until hover */
/* content will be set with abosolute position on each item */
#PriWorkItem,
.SecWorkItem{
    position: relative;
    border-style: solid;
    border-color: var(--turquish);
    border-width: 5px;
    opacity: .8;
}

/* first work item larger than the rest */
#PriWorkItem{
    width: 96%;
    height: 300px;
}

/* remaining work items all smaller in size than primary */
.SecWorkItem{
    width: 45%;
    height: 200px;
}

/* no opacity for work item images on mouse over */
.SecWorkItem:hover,
#PriWorkItem:hover{
    opacity: 1;
}

/* work items images to fill space completely */
.work-img{
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
}

/* ----------------------------------------- */
/* work items titles on left bottom of image */
.work-summary-top,
.work-summary-bottom{
    position:absolute; 
    left: 0px;
    width: 180px;
    background-color: var(--turquish);
    color: black;
    padding-left: 10px;
}

main ul li a{
    color:black;
    background-color: var(--turquish);
}
/* #pri-work-summary-top{
    bottom: 50px;
    height: 45px;
    font-size: large;
    font-weight: bold;
}

#pri-work-summary-bottom{
    bottom: 30px;
    height: 20px;
    font-size: small;
} */

.work-summary-top{
    bottom: 50px;
    height: 25px;
    font-size: large;
    font-weight: bold;
}

.work-summary-bottom{
    bottom: 30px;
    height: 20px;
    font-size: small;
}
/* ----------------------------------------- */

/* contact/footer section configuration */
footer section{
    width:80%;
}
footer section ul{
    text-align: left;
}
footer section ul li{
    color: white;
    display: inline-block;
    padding: 10px 40px;
}
footer section ul li a{
    background-color: rgb(241, 241, 241);
}

/* added copyright at very bottom */
#second-footer{
    margin:auto
}

/* keeping font from overlapping on vertical line at 768px and lower */
@media screen and (max-width: 768px){
    .AsideTitle{
        font-size: 24px;
    }   
}

/* removing subtitle and reducing size of nav and section description fonts */
/* reducing size of work items and their titles as they wrap into columns */
/* aligning contact info into column */
@media screen and (max-width: 520px){
    header nav ul{
        min-width: 358px;
        padding-right: 10px; 
    }

    header nav ul li{
        padding: 15px 5px;
    }
    header h1{
        margin: 50px 0px 0px 0px;
        padding: 5px 2px 5px 0px;
        height: 15px;
        font-size: 20px;
    }
    header aside{
        margin:15px 0px;
        padding: 10px 2px 10px 0px;
        width: 15%;
        max-width: 130px;
        min-width: 90px;
        text-align: left;
        font-size: 18px;
        font-weight:700;
    }
    #subtitle-over{
        display: none;
    }
    .AsideTitle{
        font-size: 20px;
    }
    #PriWorkItem{
        width: 96%;
        height: 200px;
    }
    .SecWorkItem{
        width: 45%;
        height: 100px;
    }
    .work-summary-top,
    .work-summary-bottom{
        width: 120px;
        padding-left: 10px;
    }
    .work-summary-top{
        font-size: 12px;
    }
    .work-summary-bottom{
        font-size: 10px;
    }
    footer section ul li{
        display: block;
    }
}